*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  text-align: center;
  font-family: tahoma;
}


.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  background: #f5f5f5; /* color de fondo del menu horizontal */
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  margin-right: 10px;
}

.logo img {
  max-width: 250px;
}

.navbar a {
  display: block;
  padding: 23px 20px;
  color: #070744; /* color de letras del menu horizontal */
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

.navbar a:hover {
  /* background: #800080; color al pasar el cursor del menu horizontal */
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 60vh !important;
  background: url(otlad9.jpg) no-repeat center;
  background-size: cover;
}

.title { /* titulos */
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  color: #070744; /* color de los titulos */
}

p { /* parrafos */
  margin-bottom: 40px;
  font-size: 18px;
  color: #87CEFA; /* color de los parrafos */ 
}

.btn { /* botones */
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  /* border: 2px solid #9c27b0; */
  color: #FFFFFF;
  text-decoration: none;
  background: #7FAF1D;
}

.btn:hover {
  background: #070744; /* color de fondo al pasar el cursor en los botones */
}

.btn-home {
  display: flex;
}

.btn-home a {
  margin: 0 10px;
}

.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sau {
  padding: 30px;
  background: #FFFFFF; /* color de fondo de la seccion de productos */
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.box-container .box {
  height: 11rem;
  width: 17rem;
  /* background: #0000ff; */
  text-align: center;
  /* border-radius: 1rem; */
  /* box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5); */
  margin: 2rem;
}

.box-container .box i { /* iconos */
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #7FAF1D;
  font-size: 2rem;
  margin: 1rem 0;
}